<nav class="navbar navbar-default" ng-controller="navCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/item-list">Great TODO's</a>
    </div>

    <!-- demonstration of two controllers sharing a factory -->
    <div class="navbar-form navbar-left input-group" ng-show="isLoggedIn">
        <div class="input-group" ng-show="showSearch">
          <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
          <input type="text" class="form-control" placeholder="Search" ng-model="searchText.search">
        </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-show="isLoggedIn" ng-href="#!/item-list">Show All</a></li>
        <li><a ng-show="isLoggedIn" ng-href="#!/item/newItem">Add Task</a></li>
        <li><a ng-show="!isLoggedIn">Login</a></li>
        <li><a ng-show="isLoggedIn" ng-click="logout()" >Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
  
</nav>